     <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
        <p> hey main view </p>
        <!-- angular templating -->
        <!-- this is where content will be injected -->
        <div ng-view></div>

    </div>
    
    
    <script>
   
    function CollapseDemoCtrl($scope) {
       $scope.test=function() {
        alert('click');
        $scope.isCollpased = !$scope.isCollapsed;
        alert($scope.isCollapsed);
    };
  
        };
       // script.js
    // create the module and name it freemdm
        // also include ngRoute for all our routing needs
    var freemdm = angular.module('freemdm', ['ngRoute','ui.bootstrap']);

    // configure our routes
    freemdm.config(function($routeProvider, $locationProvider) {
  //  $locationProvider.html5Mode(true);
 
        $routeProvider

            // route for the home page
            
            .when('/mdm_object/:mdmobjectId', {
                templateUrl : "<%= asset_path('assets/angular/views/mdm_object.html') %>",
                controller  : 'mdmObjectsController'
            })
            
            .when('/contact/:contactId', {
                templateUrl : "<%= asset_path('assets/angular/views/about.html') %>",
                controller  : 'contactController'
            })

            // route for the about page
            .when('/about', {
                templateUrl : 'assets/angular/views/about.html',
                controller  : 'aboutController'
            })

            // route for the contact page
            .when('/main', {
                templateUrl :  "<%= asset_path('assets/angular/views/about.html') %>",
                controller  : 'mainController'
            });
    });

    // create the controller and inject Angular's $scope
    freemdm.controller('mainController', function($scope) {
        // create a message to display in our view
        $scope.message = 'Everyone come and see how good I look!';
    });

    freemdm.controller('aboutController', function($scope) {
        $scope.message = 'Look! I am an about page.';
       
    });

    freemdm.controller('contactController', function($scope, $routeParams) {
        alert($routeParams.contactId);
        $scope.message = 'Contact us! JK. This is just a demo.' + $routeParams.contactId;
    });
    
    
    freemdm.controller('mdmObjectsController', function($scope, $routeParams) {
       
        $scope.message = 'Contact us! JK. This is just a demo.' + $routeParams.mdmobjectId;
    });
    
    
    var TabsDemoCtrl = function ($scope) {
          $scope.tabs = [
            { title:'Dynamic Title 1', content:'Dynamic content 1' },
            { title:'Dynamic Title 2', content:'Dynamic content 2', disabled: true }
          ];
        
          $scope.alertMe = function() {
            setTimeout(function() {
              alert('You\'ve selected the alert tab!');
            });
          };
        };
   
       </script>
