
<h1>Models</h1>

<div ng-controller="IndexCtrl">
  <h1>Mdm Models</h1>
 
  <ul>
  <div class="span6" ng-repeat="mdmmodel in mdmmodels">{{mdmmodel.name}}
  		{{ mdmmodel.mdm_objects[0].name }}
  		<div ng-repeat="mdmobject in mdmmodel.mdm_objects">
  		<a href="/mdm_contents/index_for_object?name={{mdmobject.name}}" target="_self">{{ mdmobject.name}} </a>
   		</div>
   </div>
</ul>


<button class="btn btn-primary" type="submit" value="Submit">Submit
<span class="glyphicon glyphicon-download-alt"></span>
</button>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> Star
</button>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>

</div>



<div id="intro">
</div>
<script>
$( document ).ready(function() {
        console.log( "document loaded" );
       startit();
kaboom();
setInterval(redraw, 3000);
        
    });
</script>


