<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div ng-controller="IndexCtrl">
  <h1>{{ title }}</h1>
 
  <ul>
  <div ng-repeat="mdmmodel in mdmmodels">{{mdmmodel.name}}
  		{{ mdmmodel.mdm_objects[0].name }}
  		<li ng-repeat="mdmobject in mdmmodel.mdm_objects">{{ mdmobject.name}} </li>
   </div>
</ul>
</div>