  
<div id="mdm_index"  >
   <h1><%= @mdm_object.name %></h1>
    <div ng-controller="IndexObjectCtrl" ng-bind-html-unsafe="data" ng-click="form_detail('http://www-google.com')" >
      <table class="table table-striped object_list" >
        <tr  ng-repeat="item in data " ng-model="data" ng-click="form_detail('http://www-google.com')" >
            <td ng-click="form_detailx('http://www-google.com')" ng-repeat="col in item">{{col}}</td>
        </tr>
       </table>
           <pagination  total-items="totitems" boundary-links="true" current-page="currentPage" on-select-page="pageChanged(page)"></pagination>    
       
    </div>
</div>




  
<script>





function IndexObjectCtrl($scope,$http,$location, $window) {
    $scope.isCollapsed = true;
    $scope.noOfPages = 7;
    $scope.currentPage = 1;
    $scope.maxSize = 5;
    $scope.page = 1;
  
    $scope.$watch('currentPage', function(newPage){
        $scope.watchPage = newPage;
    
     });
  
    $scope.form_detail = function(url) {
        //alert(url);
        $window.location.href = url;
     };
  
  
   $scope.pageChanged = function(page) {
        $scope.callbackPage = page;
    //    $scope.watchPage = newPage;
        $scope.getdata(page);
    
  };
  
    var loc = $location.absUrl();
    var apiurl=loc;
    if (apiurl.length > 90) {
        apiurl=apiurl[0] +'/api/mdm_objects' ;
    }
    else {
        apiurl = '/api/mdm_objects?name=<%= params[:name] %>&page=' + $scope.page ;
    }
    $http({method: 'GET', url: apiurl}).
    success(function(data, status, headers, config) {
      // this callback will be called asynchronously
      // when the response is available
      $scope.data = data;
      $scope.totitems = data.length;
      $scope.noOfPages = 1;
      
   
    });


    
    $scope.getdata= function(page) {
        var loc = $location.absUrl();
        var apiurl=loc;
        if (apiurl.length > 90) {
            apiurl=apiurl[0] +'/api/mdm_objects' ;
        }
        else {
            apiurl = '/api/mdm_objects?name=<%= params[:name] %>&page=' + page;
        }
        $http({method: 'GET', url: apiurl}).
        success(function(data, status, headers, config) {
          // this callback will be called asynchronously
          // when the response is available
          $scope.data = data;
          $scope.totitems += data.length;
          $scope.noOfPages + 1;
        
          
     });
     
     
     
     
    };



};
</script>