
#mdm_maint {

margin-left: 50px;

}

.object_list {
    margin-left: 50px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#side {
    background-color: #F5F6F7;
}
#datalist {
    max-height:70%;
    max-width: 200%;
    overflow: scroll;

}

#twobar {
    margin-right: 0px;
    width: 100%;
}


#allofit {
    margin-left:0px;
    margin-right:0px;
    width:100%;
}