<!DOCTYPE html>
<html ng-app>
<head>
  <title>Freemdm</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script>var freemdmapp = angular.module('freemdm', ['ui.bootstrap']);</script>
  <%= csrf_meta_tags %>
</head>
<body>
  

<%= yield %>

</body>
</html>
